[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = {extras = ["standard"], version = "*"}
fastapi = "*"

[dev-packages]
pycodestyle = "*"
pylint = "*"

[requires]
python_version = "3.9"
