[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = {extras = ["standard"], version = "*"}
fastapi = "*"
pymongo = {extras = ["srv"], version = "*"}
email-validator = "*"
python-multipart = "*"
passlib = {extras = ["bcrypt"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
requests = "*"
xmltodict = "*"
python-dateutil = "*"
dramatiq = {extras = ["redis", "watch"], version = "*"}

[dev-packages]
pycodestyle = "*"
pylint = "*"
autopep8 = "*"
pytest = "*"

[requires]
python_version = "3.9"

[scripts]
app = "uvicorn rss.reader.main:app --reload"
lint = "pylint rss/"
pep8 = "autopep8 -ri rss/"
worker = "dramatiq rss.reader.workers.feeds:worker_update_feeds"
