[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apscheduler = "*"
dramatiq = {extras = ["redis", "watch"], version = "*"}
email-validator = "*"
fastapi = "*"
passlib = {extras = ["bcrypt"], version = "*"}
pymongo = {extras = ["srv"], version = "*"}
python-dateutil = "*"
python-jose = {extras = ["cryptography"], version = "*"}
python-multipart = "*"
requests = "*"
uvicorn = {extras = ["standard"], version = "*"}
xmltodict = "*"

[dev-packages]
autopep8 = "*"
pycodestyle = "*"
pylint = "*"
pytest = "*"

[requires]
python_version = "3.9"

[scripts]
app = "uvicorn rss.reader.main:main --reload"
workers = "dramatiq rss.reader.workers --watch ."
lint = "pylint rss/"
pep8 = "autopep8 -ri rss/"
test = "pytest -rfEp test/"
